* {
    font: "JetBrains Mono Nerd Font 12";
    background-color: #1e1e2e;
    border: 0;
    border-radius: 8px;
    padding: 10px;
    text-color: #cdd6f4;
    width: 400px;
}

window {
    location: center;
    anchor: center;
}

listview {
    lines: 5;
    spacing: 10px;
    fixed-height: true;
}

element {
    padding: 10px;
    border-radius: 4px;
    background-color: #313244;
}

element selected {
    background-color: #89b4fa;
    text-color: #1e1e2e;
}
